html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f7fafc;
}

.btn-primary {
  color: #fff;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 64, 58, 1) 0%,
    rgba(252, 196, 14, 1) 100%
  );
}

.btn-primary:hover {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 64, 58, 1) 0%,
    rgba(252, 196, 14, 1) 100%
  );
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 64, 58, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 64, 58, 1) 0%,
    rgba(252, 196, 14, 1) 100%
  );
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 64, 58, 1) 0%,
    rgba(252, 196, 14, 1) 100%
  );
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(233, 64, 58, 0.5);
}
